@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        On this site you can explore our product catalog and check out how we use EF to manage it. This is from an inclass CPW 213 project where we are
        making an eCommerce site similar to that of the likes of amazon/ebay to get familiar with the EF model.
    </p>

    <div class="alert alert-primary"> <a href="https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/intro?view=aspnetcore-3.1">Our guide we followed to create EF</a></div>
</div>
