@model Product
@{
    ViewData["Title"] = "Add Product";
}

<h1>Add Product</h1>

<form method="post">
    <div class="form-group">
    <label asp-for="Title"></label>
    <input class="form-control" asp-for="Title" placeholder="Add product Title" />
    <span asp-validation-for="Title"></span>
    <br />

    <label asp-for="Price"></label>
    <input class="form-control" asp-for="Price" placeholder="Add product Price" />
    <span asp-validation-for="Price"></span>
    <br />

    <label asp-for="Category"></label>
    <input class="form-control" asp-for="Category" placeholder="Add Category"/>
    <span asp-validation-for="Category"></span>
    <br />

    <input type="submit" />
    </div>
</form>

